Simple .xlsx to .csv converter

In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('data\Final Data.xlsx')

In [4]:
df.head()

        Date      GDP  UnRate  GDPgrowth
0 1995-01-01  1692669    16.9   1.444820
1 1995-04-01  1700185    16.9   1.776130
2 1995-07-01  1707524    16.9   1.726636
3 1995-10-01  1714263    16.9   1.578660
4 1996-01-01  1738318    19.3   5.612908

In [8]:
df.to_csv('data\Final.csv',index=False)